option_settings:
  aws:elasticbeanstalk:application:environment:
    # default environment properties
    PORT: 5000
    GOOGLE_APPLICATION_CREDENTIALS: /tmp/google-credentials.json
    # required environment properties
    # JDBC_DATABASE_URL
    # JDBC_DATABASE_USERNAME
    # JDBC_DATABASE_PASSWORD
    # GOOGLE_CREDENTIALS_S3_PATH

Parameters:
  ebS3Bucket:
    Type: CommaDelimitedList
    Description: "Name of the Amazon S3 bucket that contains your file"
    Default: !Sub "elasticbeanstalk-${AWS::Region}-${AWS::AccountId}"
  ebS3AuthRole:
    Type: String
    Description: "Role with permissions to download the file from Amazon S3"
    Default: "aws-elasticbeanstalk-ec2-role"

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: { "Ref" : "bucket" }
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: { "Ref" : "authrole" }

files:
  # download Google credentials JSON from S3
  "/tmp/google-credentials.json" :
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source:
      !Sub
        - '${EBS3Url}/${FilePath}'
        - EBS3Url: !Sub 'https://elasticbeanstalk-${AWS::Region}-${AWS::AccountId}.s3.${AWS::Region}.amazonaws.com'
        - FilePath:
              "Fn::GetOptionSetting":
                Namespace: "aws:elasticbeanstalk:application:environment"
                # to-be defined from environment properties
                OptionName: "GOOGLE_CREDENTIALS_S3_PATH"